<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./../static/css/solicitacao.css">
    <script src="./../static/js/solicitações.js"></script>
    <title>Pagina de Solicitação</title>
</head>
<body>
    <div class="container">
        <div>
            <h1 class="soli">
                Cadastrar Solicitações
            </h1>
            <div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="id">ID</label>
                        </div>
                        <div>
                            <input class="form-control border-dark-subtle" type="number" id="id">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="funci">Funcionario</label>
                        </div>
                        <div>
                            <input class="form-control border-dark-subtle" type="text" id="funci">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="dia">Dia Solicitado</label>
                        </div>
                        <div>
                            <input class="form-control border-dark-subtle" type="date" id="dia">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="clien">Nome do Cliente</label>
                        </div>
                        <div>
                            <input class="form-control border-dark-subtle" type="text" id="clien">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="servi">Serviço Solicitado</label>
                        </div>
                        <div>
                            <input class="form-control border-dark-subtle" type="text" id="servi">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="pagamento">Metodo de Pagamento</label>
                        </div>
                        <div>
                            <input class="form-control border-dark-subtle" type="text" id="pagamento">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="cep">CEP</label>
                        </div>
                        <div>
                            <input class="form-control border-dark-subtle" type="number" id="cep">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <div>
            <button type="submit" onclick="Salvar()" class="btn btn-primary">Salvar</button>
        </div>
    </div>
    <div>
        <h4 class="serSoli">Serviço Solicitado</h4>
    </div>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Funcionario</th>
                <th scope="col">Dia Solicitado</th>
                <th scope="col">Nome do Cliente</th>
                <th scope="col">Serviço Solicitado</th>
                <th scope="col">Metodo de Pagamento</th>
                <th scope="col">CEP</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
              </tr>
            </thead>
          </table>
    </div>
</body>
</html>